<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js" defer></script>

    <title>TODOLIST V2</title>
  </head>
  <body>
    <div id="root">
      <div>
        <h1>TO DO LIST BOCAL ACADEMY</h1>

        <button v-if="!show" @click="show = !show">Afficher</button>
        <button v-else @click="show = !show">Masquer</button>
      </div>

      <!-- liste de tache A FAIRE -->
      <transition name="bounce">
        <div v-if="show">
          <div class="aFaireTodo">
            <div class="aFaireTitre">
              <p>A FAIRE !</p>
            </div>

            <div class="aFaireContent">
              <ul>
                <li v-for="(tache, index) in listeTache">
                  {{tache}}
                  <button
                    @click="ajouterTacheDansLiEnCours "
                    :data-index="index"
                  >
                    En cours
                  </button>
                  <button
                    @click="ajouterTacheDansLiTerminee "
                    :data-index="index"
                  >
                    Terminée
                  </button>
                  <button
                    @click="remove"
                    :data-index="index"
                    data-list="listeTache"
                  >
                    Supprimer
                  </button>
                </li>
              </ul>
            </div>

            <!-- input pour ajouter une tache -->
            <div class="aFaireInput">
              <input
                type="text"
                placeholder="Ajouter"
                @keyup.enter="ajouterTacheDansLi"
                @input="ajouterTache"
                :value="tache"
              />
              <button @click="ajouterTacheDansLi" type="submit">Envoyer</button>
            </div>
          </div>

          <!-- liste de tache EN COURS -->

          <div class="enCoursTodo">
            <div class="enCoursTitre">
              <p>EN COURS</p>
            </div>

            <div class="enCoursContent">
              <ul>
                <li v-for="(tache, index) in listeTacheEncours">
                  {{tache}}<button
                    @click="ajouterTacheEnCoursDansLiTerminee "
                    :data-index="index"
                  >
                    Terminée
                  </button>
                  <button
                    @click="remove"
                    :data-index="index"
                    data-list="listeTacheEncours"
                  >
                    Supprimer
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <!-- liste de tache TERMINEE -->

          <div class="enCoursTodo">
            <div class="enCoursTitre">
              <p>TERMINEE</p>
            </div>

            <div class="termineeContent">
              <ul>
                <li v-for="tache in listeTacheTerminee">
                  {{tache}}<button
                    @click="remove"
                    :data-index="index"
                    data-list="listeTacheTerminee"
                  >
                    Supprimer
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </body>
</html>
